* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
    color: white; 
    margin: 0; 
    padding: 0; 
    background: rgb(0,9,3);
    height: 100vh;
    left: 0;
    position: relative;
    top: 0;
}

/* the modal dialog for the user name */
.modal {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 99; 
    left: 0;
    top: 6%;
    width: 100%; 
    height: 100%; 
    overflow: auto;
}

/* user name dialog Content */
.modal-content {
    background-color:white;
    color: black;
    font-size: 100%;
    margin: 10% auto; 
    padding: 15px 0 15px 20px;
    width: 80%; 
    text-align: left;
    border: 2px solid #000; 
    border-radius: 50px; 
}

#userNameInput {
    color: black;
    width: 150px;
}

#submitName {
    position: relative;
    top: 3px;
    margin: 0 10px;
}

/* The close button */
#cancelName {
    position: relative;
    top: 3px;
    right: 0;
}

/* heading of the page */
.heading {
    font-family: 'Roboto', sans-serif; 
    text-align: center; 
    margin: 10% auto 5%; 
    width: 80%; 
}

.heading h1 {
    font-size: 1.6em; 
    font-weight: bold; 
    margin: 15px 0 30px 0;
    text-transform: uppercase;
}

.editable-h2s {
    position: relative;
    display: block; 
    justify-content: center; 
    width: 100%;
}

.input-hidden {
    position: absolute;
    font-size: 1.2em; 
    left: 25%;
    width: 150px;
    box-sizing: border-box; 
    display: none; 
}

.edit-btn {
    margin-left: 10px;
    cursor: pointer;
    color: #f0f0f0;
    background-color: rgb(0,9,3);
    border: none;
    box-shadow: none;
}

.heading h2 {
    font-size: 1.2em; 
    /* text-wrap: wrap; */
    margin: 5px auto;
    cursor: pointer;
    text-align: center; 
}

#userName {
    color:#49fb35;
    font-weight: bold;
}

/* card-area */
/* Container for the card, enabling the flip effect provided by Copilot */
.card-container {
    perspective: 1000px;
}  

.card {
    width: 63%; 
    border-radius: 30px; 
    height: 170px; 
    position: relative;
    margin: 50px auto;
    transform-style: preserve-3d;
    transition: transform 0.6s;
    background-color: whitesmoke;
    border: 2px solid #bbb; 
    position: relative; 
    padding: 6px 15px; 
  }

.card.is-flipped {
    transform: rotateY(180deg);
  }

.card-front, .card-back { 
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 0;
    top: 0;
    left: 0;
    backface-visibility: hidden; /* Hide the back side when flipped */
}

.card-back {
    display: block;
    transform: rotateY(180deg); /* Rotate the back card so it faces back */
    -webkit-box-shadow: 7px 5px 15px 5px #828282; 
    box-shadow: 7px 5px 15px 5px #828282;
    border-radius: 30px; 
}

.card-front {
    -webkit-box-shadow: 7px 5px 15px 5px #828282; 
    box-shadow: 7px 5px 15px 5px #828282;
    border-radius: 30px; 
}

.card-header {
    display: grid; /* Use grid layout */
    grid-template-columns: 5% 90% 5%; 
    justify-content: center; 
    align-items: center;
    padding: 10px 15px;
    margin: 0 10px 0 0;
    font-size: 80%;
    color: black;
}

.card-header .next, .card-header .prev, .card-header p {
    justify-self: center; 
    margin: 0;
}

#next-btn-front, #prev-btn-front, #next-btn-back, #prev-btn-back {
    border: none;
    background: none;
    font-size: 1.5em;
    color: black;
}

#location {
    font-size: 1.3em;
    font-weight: bold;
    color: black;
}

.word {
    position: absolute;
    font-size: 1em;
    left: 50%;
    transform: translate(-50%, -50%); 
    top: 75px;
    color: black;
    font-weight: bold;
}

.word input {
    border: none;
    text-align: center;
    color: black;
    width: 150px;
    font-size: 1em;
}

/* the input field only becomes visible once we are in add card mdus */
#input-original {
    display: none;
}

.word input {
    color: black;
}

#divider-front, #divider-back {
    position: absolute;
    border-bottom: 2px dashed; 
    left: 50%;
    transform: translate(-50%, -50%); 
    color: black;
    width: 30%;
    margin: 0px auto; 
    top: 90px;
}

.card-nav {
    position: absolute; 
    display:flex;
    top: 115px; 
    gap: 5px; 
    left: 50%;
    margin: 0px auto; 
    transform: translate(-50%, -50%); 
    justify-content: center; 
}

.card-btn {
   border: none;
   font-size: 1.3em;
}

#enter-btn {
    font-size: 1em;
    position: absolute;
    top: 5px;
    right: -30px;
    margin: 0;
    border: none;
}

#flip-card, #flip-card-back {
    position: absolute;
    right: -25px; 
    bottom: -40px; 
    color: white;
    font-size: 1.3em;
    background-color:rgba(255, 255, 255, 0);
    box-shadow: none;
    border: none;
    transform: rotate(150deg);
}

/* display results / score */
#results-area {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    margin-top: 8px; 
    font-size: 1em; 
}

.divider {
    margin: 0 10px;
}

#correct {
    color: #49fb35;
    font-weight: bold;
}

#incorrect {
    color: #e20000;
    font-weight: bold;
}

/* Style for the bottom navigation */
.bottom-nav {
    position: fixed; 
    bottom: 8%; 
    left: 50%; 
    transform: translateX(-50%); /* Adjust for true centering */
    display: flex; 
    justify-content: center; 
    align-items: center; 
    border: 2px solid #000; 
    border-radius: 50px; 
    padding: 5px 15px; 
    box-shadow: 
        10px 10px 30px rgba(255, 255, 255, 0.2),
        8px 8px 8px rgba(255, 255, 255, 0.2);
    color: white;
    background-color: whitesmoke;
}

.nav {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    width: 100%; 
}

.nav-btn {
    background: none; 
    border: none; 
    cursor: pointer; 
    color: black;
    padding: 10px; 
    margin: 0; 
    font-size: 24px; 
    min-width: 30px; 
    min-height: 30px; 
    display: flex; 
    justify-content: center;
    align-items: center; 
}

.nav-btn:hover {
    background: #f0f0f0; 
    border-radius: 50%; 
}

/* hidding the input element that handles the .csv select file */
#csvFileInput {
    display: none;
}

/* style for the help text - lot's of manual adjustments to look good */
.help-text {
    display: none;
    position: absolute;
    background-color:#e20000;
    border: 1px solid#e20000;
    color:white;
    font-size: 0.9rem;
    font-weight: bold;
    padding: 5px;
    z-index: 1;
    margin: 10px;
    top: 21px;
    text-align: center;
}
.help-text.visible {
    display: block;
}
#help-prev-button {
    left: -20px;
    top: 25px;
}
#help-next-button {
    left: 150px;
    width: 110px;
    top: 25px;
}
#help-delete-card {
    left: 16px;
    width: 100px;
}
#help-add-card {
    left: -122px;
    width: 130px;
}
#help-show-me {
    left: -90px;
    width: 100px;
}

#help-is-correct {
    left: 16px;
    width: 86px;
}
#help-is-incorrect {
    top: -27px;
    left: 67px;
    width: 93px;
}
#help-results-area {
    top: 59%;
}
#help-save {
    top: -50px;
    left: -80px;
    width: 160px;
}

#help-download-template {
    top: 35px;
    left: -60px;
    width: 180px;
}
#help-file-upload {
    top: 35px;
    left: 142px;
    width: 130px;
}

/* Media query: tablets and larger (576px and up */
@media screen and (min-width: 576px) {

    /* the modal dialog for the user name */
    .modal {
        display: flex;
        justify-content: center; 
        align-items: center; 
        height: 100vh; 
        width: 100vw;
        top: 16%;
    }

    .modal-content {
        width: 400px; 
        margin: auto; 
    }


    /* General styles */
    body {
        min-height: 100vh;
        margin: 10% auto; 
        max-width: 500px; 
    }
}